docker/auth-service/.env.auth
docker/grafana-influxdb/.env.grafana-influxdb
docker/mosquitto/.env.mosquitto
docker/user-service/.env.user
docker/eureka/.env.eureka
docker/eureka-gateway/.env.eureka-gateway
docker/**/logs/**